@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

@layer components {
  .radio-label:has(input:checked) {
    @apply border-orange;
  }
  .email-label:has(input:invalid) {
    @apply text-invalid;
  }
  .email-label:has(input:invalid) p:last-of-type {
    @apply flex;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
